html body {
  height: 100%;
  width: 100%;
  background: rgb(137,251,215);
background: radial-gradient(circle, rgba(137,251,215,1) 0%, rgba(148,187,233,1) 100%);
  font-family: Manrope, sans-serif;
  margin: 0;
}

.logo-header {
  object-fit:contain; 
  height: 100%;
  width: 100%;
}

/*Mission Statement*/
.mission-statement {
  color: #0B6E4F;
  letter-spacing: 0.05rem;
  margin: 0rem 10rem 5rem 10rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3rem;
  background-color: #f8f8ff;
  border: 5px solid #f8f8ff;
}
/*Scholar 1*/
.scholar-1 {
  display:flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform .2s;
  background-color: #f8f8ff;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  border-radius: 2rem;
  margin-left: 100px;
  margin-right: 100px;
}

.scholar-1:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.scholar-1-description {
  margin-left: 20px;
  color: #0B6E4F;
}

.scholar-1-img {
  display:flex;
  flex-basis: 40%;
  object-fit: contain;
  height:20rem;
  width:20rem;
  padding-bottom: 1rem;
}

/*Scholar 2*/
.scholar-2 {
  display:flex;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform .2s;
  background-color: #f8f8ff;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  border-radius: 2rem;
  margin-left: 100px;
  margin-right: 100px;
}

.scholar-2:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.scholar-2-description {
  margin-left: 20px;
  color: #0B6E4F;
}

.scholar-2-img {
  display:flex;
  flex-basis: 40%;
  object-fit: contain;
  height:20rem;
  width:20rem;
  padding-bottom: 1rem;
}

/*Scholar 3*/
.scholar-3 {
  display:flex;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform .2s;
  background-color: #f8f8ff;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  border-radius: 2rem;
  margin-left: 100px;
  margin-right: 100px;
}

.scholar-3:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.scholar-3-description {
  margin-left: 20px;
  color: #0B6E4F;
  display: flex;
  align-content: center;
  justify-content: center;
}

.scholar-3-img {
  display:flex;
  flex-basis: 40%;
  object-fit: contain;
  height:22rem;
  width:22rem;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
