body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', cursive;
  background-color: #f9fba7;
  text-align: center;
}

h1 {
  font-size: 2em;
  padding-top: .5em;
  background-color: #000480;
  color: white;
}

h2 {
  font-size: 4em;
  padding: 1em 0.5em 0.2em 1em;
  font-family: 'Times New Roman', cursive;
  background-color: #51a5e6;
  color: white;
  text-align: left;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  padding: 1em 0 1.5em 1.6em;
  font-family: 'Times New Roman', cursive;
  background-color: #51a5e6;
  color: white;
  text-align: left;
}

h5, h6 {
  font-family: 'Times New Roman', cursive;
  font-size: 20pt;
}

main {
  text-align: center;
  margin: 0 20%;
}

ul {
  list-style-type: none;
  background-color: #000480;
  overflow: hidden;
  padding: 1em 0;
  font-family: 'Times New Roman', cursive;
}

li {
  display: inline-block;
  background-color: #000480;
}

li a {
  color: #ffffff;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Times New Roman', cursive;
  padding: 0.5em 1em;
  display: inline-block;
}

li a:hover {
  background-color: #51a5e6;
}

nav ul li {
  width: 20%;
  text-align: center;
}

.protesttt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #f9fba7;
}

.protestttInfo {
  flex: 50%;
  padding: 0 5%;
  font-size: 13pt;
  text-align: center;
}

.protestInfo {
  flex: 50%;
  padding: 0 5%;
  font-size: 13pt;
  text-align: center;
}

.protesttInfo {
  flex: 50%;
  padding: 0 5%;
  font-size: 16pt;
  text-align: center;
}

.attribution {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: 'Times New Roman', cursive;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 35px;
}

/* Buttons */
.genFact {
  background: #fffb80;
  border-radius: 10px;
  border: 10px solid white;
  padding: 50px;
  margin: 30px 35%;
  font-family: 'Times New Roman', cursive;
  font-size: 1.9em;
  text-align: center;
  color: #000000;
}

#myButton, #proceed, #exit {
  background: #f4fea9;
  border: none;
  border-radius: 10px;
  padding: 3px;
  margin: 10px;
  font-size: 1em;
  font-family: 'Times New Roman', cursive;
  cursor: pointer;
}

#myButton {
  color: #7ab4ff;
}

#proceed {
  color: #6318a0;
}

#exit {
  color: #001d4d;
}

#CLICK {
  border: none;
  padding: 5px;
  margin: 30px 15%;
  font-family: 'Times New Roman', cursive;
  font-size: 2em;
  text-align: center;
  line-height: 1.2em;
  background: #006eff;
  color: white;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #b1dffb, #3496fe);
  z-index: 2;
  cursor: pointer;
  text-align: center;
}


